@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

html,
body,
main {
    height: 100%;
    width: 100%;
}

#nav {
    width: 100%;
    height: 15vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-part2 ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;

}

#nav-part2 ul a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
}

#nav-part3 {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#nav-part3 button{
    padding: 12px 24px;
    background-color: transparent;
    font-size: 1.0rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}

.ri-search-line{
    padding-left: 12px;
    font-size: 1.2rem;
}